* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .box {
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgb(178, 220, 234);
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
  }
  .container nav {
    border: 0px solid red;
    height: 7%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
    position: absolute;
  }
  .container .logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
  }
  .container .logo::first-letter {
    color: #6f34fe;
    font-size: 35px;
  }
  .container nav ul li {
    display: inline-block;
    padding: 0 20px;
  }
  .container nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
  }
  .container nav ul li a:hover {
    color: #6f34fe;
  }
  .content {
    border: 0px solid green;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
  }
  .content .section-1 {
    margin-bottom: 2%;
    border: 0px solid red;
    position: relative;
    width: 40%;
  }
  .content .section-1 h1 {
    border: 0px solid red;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #000;
  }
  .content .section-1 h3 {
    font-size: 24px;
    color: #6f34fe;
    margin-bottom: 10px;
  }
  .content .section-1 p {
    font-size: 15px;
    color: #505052;
    margin-bottom: 50px;
  }
  .content .btn {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #6f34fe;
    border: 3px solid #6f34fe;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
  }
  .content .btn:hover {
    background-color: #fff;
    color: #6f34fe;
  }
  .content .section-2 {
    width: 60%;
    position: relative;
  }
  .content .section-2::after {
    content: " ";
    position: absolute;
    background-color: #6f34fe;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: -1;
    top: 1%;
    left: 30%;
  }
  .content .section-2 img {
    width: 65%;
    margin: 20px 150px;
  }
  .content .social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
  }
  .content .social a i {
    font-size: 25px;
    color: #7c8bd1;
    transition: 0.3s;
  }
  .content .social a i:hover {
    color: #6f34fe;
  }